# Microsoft Clarity
NEXT_PUBLIC_CLARITY_PROJECT_ID=w3nmnexs39

# data.go.kr service key for fetching public holidays
# --> https://www.data.go.kr/data/15012690/openapi.do#
KR_SPCDEINFOSERVICE_SERVICE_KEY=<your key>
